<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huitai.core.message.dao.HtMessageReceiveDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huitai.core.message.entity.HtMessageReceive">
        <id column="id" property="id" />
        <result column="msg_title" property="msgTitle" />
        <result column="msg_content" property="msgContent" />
        <result column="receive_user" property="receiveUser" />
        <result column="send_user" property="sendUser" />
        <result column="receive_date" property="receiveDate" />
        <result column="read_status" property="readStatus" />
        <result column="type" property="type" />
        <result column="read_date" property="readDate" />
        <result column="remarks" property="remarks" />
        <result column="user_name" property="sendUserName" />
    </resultMap>

    <select id="findHtMessageReceiveList" parameterType="com.huitai.common.utils.Page" resultMap="BaseResultMap">
        SELECT a.id,a.type,a.msg_title,a.receive_user,a.send_user,a.receive_date,a.read_status,a.read_date,a.remarks,b.user_name
        FROM ht_message_receive a
        LEFT JOIN ht_sys_user b on a.send_user = b.id
        where a.read_status != '0'
        <if test="params.msgTitle != null and params.msgTitle != ''">
            AND a.msg_title LIKE CONCAT('%', #{params.msgTitle}, '%')
        </if>
        <if test="params.type != null and params.type != ''">
            AND a.type = #{params.type}
        </if>
        <if test="params.receiveUser != null and params.receiveUser != ''">
            AND a.receive_user = #{params.receiveUser}
        </if>
        order by a.receive_date desc
    </select>

    <select id="findNewHtMessageReceiveList" parameterType="com.huitai.core.message.entity.HtMessageReceive" resultMap="BaseResultMap">
        SELECT a.id,a.msg_title,a.receive_user,a.send_user,a.receive_date,a.read_status,a.read_date,a.remarks,b.user_name
        FROM ht_message_receive a
        LEFT JOIN ht_sys_user b on a.send_user = b.id
        where 1=1
        <if test="readStatus != null and readStatus != ''">
            AND a.read_status = #{readStatus}
        </if>
        <if test="receiveUser != null and receiveUser != ''">
            AND a.receive_user = #{receiveUser}
        </if>
        order by a.receive_date desc
    </select>

</mapper>
